:root {
    --primary-color: #ffffff;
    --secondary-color: #f5f4fa;
    --primary-text-color: #757575;
    --secondaty-text-color: #212121;
    --mark-color: #2196f3;
    --hero-color: #2f303a;
    --hero-bg-color: #C4C4C4;
    --smm-icon: #AFB1B8;

}